.falcon
    height: 1718px
    width: 100vw
    display: flex
    
 
    .info-falcon
        
        height: 1718px
        margin-top: -66px
        display: flex
        justify-content: center
        flex-direction: column
        

    .falcon-img
        width: 644px
        height: 1718px
        margin-top: -66px
        margin-right: 100px
        

    h2
        color: white
        font-weight: 700
        font-size: 24px
        width: 200px
        margin-bottom: 45px

    .secondary
        color: #B2B0B2
    


    .columns
        height: 300px
        
        display: flex
        font-size: 16px
        font-weight: 400
        
    p
        margin: 0
        
    .column1
        width: 200px
        display: flex
        flex-direction: column
        justify-content: space-evenly



    .column2
        display: flex
        flex-direction: column
        justify-content: space-evenly
    .column2-text
        display: flex
        align-items: center
        

        
        span
            display: block

        p
            margin: 0
    .perfomance
        margin-top: 218px

        &-text
            width: 60%
            font-size: 16px
            line-height: 180%
        





    