.falcon
    height: 1718px
    width: 100vw
    display: flex
    justify-content: space-between
    
 
    .info-falcon
        margin-left: 149px
        height: 1718px
        margin-top: -66px
        display: flex
        justify-content: center
        flex-direction: column
        

    .falcon-img
        width: 644px
        height: 1718px
        margin-top: -66px
        margin-right: -30px

    h2
        color: white
        font-weight: 700
        font-size: 24px
        width: 200px
        margin-bottom: 45px

    .secondary
        color: #B2B0B2
    
    .columns
        display: flex
        font-size: 16px
        font-weight: 400
        
        
    .column1
        margin-right: 30px

    p
        margin-bottom: 11px


    .perfomance
        margin-top: 218px

        &-text
            width: 90%
            font-size: 16px
            line-height: 180%
        


@media (max-width: 900px)
    .falcon
        .falcon-img 
            display: none
        
        h2
            font-size: 16px

        .info-falcon
            margin: 30px
            justify-content: flex-start

@media (max-width: 400px)
    .falcon
        .info-falcon
            margin: 30px



    