doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
    body
        .container 
            header.header 
                .header-inner 
                    a.logo(href="#") 
                        img(src='static/logo.svg')
                    div.header-inner-main-text
                        a(href='#') Falcon 9
                        a(href='#') Falcon Heavy
                        a(href='#') Dragon
                        a(href='#') Updates
                    
                    div.header-inner-secondary-text
                        a(href='#') About
                        a(href='#') Gallery
                        a(href='#') Shop

            main.main
                h1.main-title Falcon Heavy
                p The most powerful operational rocket in the world by a factor of two
                div.vertical-line
                img.planet(src='static/planet.png')
            section.falcon
                .info-falcon
                    h2.overview FALCON HEAVY OVERVIEW
                    .columns 
                        .column1 
                            p HEIGHT 
                            p DIAMETER 
                            p MASS
                            p PAYLOAD TO LEO 
                            p PAYLOAD TO GTO
                            p PAYLOAD TO MARS 

                        .column2 
                            p 70 m /
                                span.secondary  229.6 ft 
                            
                            p 12.2 m /
                                span.secondary  39.9 ft  

                            p 1,420,788 kg /
                                span.secondary  3,125,735 lb

                            p 63,800 kg /
                                span.secondary  140,660 lb  

                            p 26,700 kg /
                                span.secondary  58,860 lb

                            p 16,800 kg /
                                span.secondary  37,040 lb


                    h2.perfomance UNMATCHED PERFOMANCE
                    .perfomance-text
                        p With more than 5 million pounds of thrust at liftoff, Falcon Heavy is the most capable rocket flying. By comparison, the liftoff thrust of the Falcon Heavy equals approximately eighteen 747 aircraft at full power. Falcon Heavy can lift the equivalent of a fully loaded 737 jetliner—complete with passengers, luggage and fuel—to orbit.
                img.falcon-img(src='static/falcon.png')
            footer.footer
                a.logo(href="#") 
                    img.footer-logo(src="static/logo.svg", alt="")

                .socials 
                    span 
                        a(href='#') Twitter
                    span 
                        a(href='#') Youtube
                    span 
                        a(href='#') Instagram
                    span 
                        a(href='#') Flickr
                    span 
                        a(href='#') LinkedIn
                    span 
                        a(href='#') Privacy
                    span 
                        a(href='#') Policy

                .email 
                    span For additional questions, contact rideshare@spacex.com
                
                a.button(href="#") Contact Us
