.header {
  width: 100%;
  height: 80px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 10px;
  z-index: 3000;
  justify-content: center;
  align-items: center;
}
.header .header-inner {
  width: 90vw;
  height: 16px;
  margin: 0 auto;
  display: flex;
  align-self: center;
  justify-content: space-between;
  justify-self: center;
  font-size: 16px;
  align-items: center;
}
.header .header-inner .mobile-menu {
  display: none;
}
.header .header-inner .mobile-menu {
  display: none;
}
.header .header-inner .burger-icon {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}
.header .header-inner .burger-icon.animating {
  animation: rotateBlur 0.6s forwards;
}
@keyframes rotateBlur {
  0% {
    transform: rotate(0deg);
    filter: blur(0px);
  }
  40% {
    transform: rotate(60deg);
    filter: blur(5px);
  }
  70% {
    transform: rotate(120deg);
    filter: blur(2.5px);
  }
  100% {
    transform: rotate(180deg);
    filter: blur(0px);
  }
}
.header .header-inner-logo {
  width: 138px;
  height: 16px;
  margin-left: 20px;
}
.header .header-inner-main-text {
  display: flex;
}
.header .header-inner-main-text a {
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.header .header-inner-secondary-text {
  display: flex;
  color: #808080;
  cursor: pointer;
}
.header .header-inner-secondary-text a {
  margin-left: 20px;
  color: #808080;
  text-decoration: none;
}
.header .header-inner button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.header .header-inner .buttons button:first-child {
  border-right: 1px solid white;
}

nav {
  display: none;
}

.main {
  height: 1183px;
  width: 100%;
  background: #010001;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
.main-title {
  font-size: 3em;
}
.main p {
  font-size: 1em;
  width: 268px;
  height: 44px;
  margin: 26px auto 32px auto;
  z-index: 5;
  line-height: 140%;
}
.main div {
  position: absolute;
  width: 1px;
  height: 59px;
  background: white;
  left: 50vw;
  z-index: 2;
}
.main img {
  margin-top: 6px;
  z-index: -1;
  width: 100%;
}

@media (max-width: 900px) {
  .main div {
    display: none;
  }
}
.falcon {
  height: 1718px;
  width: 100vw;
  display: flex;
}
.falcon .info-falcon {
  height: 1718px;
  margin-top: -66px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.falcon .falcon-img {
  width: 644px;
  height: 1718px;
  margin-top: -66px;
  margin-right: 100px;
}
.falcon h2 {
  color: white;
  font-weight: 700;
  font-size: 24px;
  width: 200px;
  margin-bottom: 45px;
}
.falcon .secondary {
  color: #B2B0B2;
}
.falcon .columns {
  height: 300px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
}
.falcon p {
  margin: 0;
}
.falcon .column1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.falcon .column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.falcon .column2-text {
  display: flex;
  align-items: center;
}
.falcon .column2-text span {
  display: block;
}
.falcon .column2-text p {
  margin: 0;
}
.falcon .perfomance {
  margin-top: 218px;
}
.falcon .perfomance-text {
  width: 60%;
  font-size: 16px;
  line-height: 180%;
}

.footer {
  height: 534px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  width: 138px;
  height: 17px;
  margin-bottom: 43px;
}
.footer span {
  margin-left: 20px;
}
.footer .email {
  padding-top: 28px;
  color: #808080;
}
.footer .button {
  color: white;
  text-decoration: none;
  padding: 20px 86px;
  border: 2px solid #fff;
  border-radius: 6px;
  margin-top: 30px;
}
.footer .socials span a {
  text-decoration: none;
  color: white;
}

body {
  background: #010001;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 100vw !important;
  overflow-x: hidden;
}

.nav-space {
  width: 100%;
  height: 123px;
}

.container {
  width: 1440px;
  height: 3559px;
  margin: 0 auto;
  background: #010001;
}

.btn {
  background: none;
  border: none;
  color: #fff;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  cursor: pointer;
  z-index: 3000;
}

.btn:last-child {
  padding-left: 10px;
}

.btn:first-child {
  border-right: 1px solid white;
}

@media (max-width: 1024px) {
  .container {
    width: 90vw;
  }
  .container header .header-inner-main-text {
    display: none;
  }
  .container .falcon .falcon-img {
    display: none;
  }
}
@media (max-width: 500px) {
  .container .btn {
    font-weight: 600;
    font-size: 16px;
  }
  .container header {
    transition: background 0.5s;
  }
  .container header .header-inner {
    z-index: 4000;
  }
  .container header .header-inner-secondary-text {
    display: none;
  }
  .container header .header-inner .buttons {
    display: none;
  }
  .container header .header-inner .mobile-menu {
    display: block;
    margin-right: 10px;
  }
  .container header .header-inner .mobile-menu img {
    width: 25px;
  }
  .container header .header-inner .mobile-menu img .toggled {
    transform: rotate(360deg);
  }
  .container .hamburger-menu {
    display: block;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 0vh;
    background-color: rgba(31, 31, 31, 0);
    transition: height 0.5s, top 0.5s, filter 0.5s, background-color 0.5s, opacity 0.5s;
    overflow: hidden;
    top: -100px;
    padding-top: 90px;
    filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    opacity: 0;
  }
  .container .hamburger-menu.open-menu {
    height: 100vh;
    top: 0px;
    filter: blur(0px);
    opacity: 1;
    background-color: #1f1f1f;
  }
  .container .hamburger-menu ul li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }
  .container .hamburger-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
  }
  .container .hamburger-menu ul li .secondary {
    color: #9f9f9f;
  }
  .container .hamburger-menu ul li button {
    color: #5f5f5f;
  }
  .container .hamburger-menu ul li button:first-child {
    border-right: 3px solid #5f5f5f;
  }
  .container .open-menu {
    width: 100%;
  }
  .container .main {
    margin-left: -15px;
  }
  .container .falcon {
    width: 90%;
  }
  .container .falcon .info-falcon {
    margin-top: -220px;
    margin-left: -15px;
  }
  .container .falcon .secondary {
    display: none;
  }
  .container .footer {
    margin-left: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .footer .socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container .footer .email {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */