@import 'header', 'main', 'falcon', 'footer', 'css-reset', 'variables', 'mixins-extend'
    
body
    background: $main-bg-color
    font-family: "Roboto", sans-serif
    color: white

.container
    width: 1440px
    height: 3559px
    margin: 0 auto
    background: $main-bg-color